.popup__form-input {
  max-width: 354px;
  width: 100%;
  padding-bottom: 13px;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  position: relative;
}

.popup__form-input:nth-of-type(2) {
  margin-top: 26px;
}

.popup__form-input:focus {
  outline: transparent;
}

@media screen and (max-width: 768px) {
  .popup__form-input {
    max-width: 234px;
  }
}