.card__delete {
  background: transparent url(../../../images/button-trash.svg);
  border: none;
  margin: 0;
  padding: 0;
  width: 18px;
  height: 19px;
  cursor: pointer;
  transition: linear 0.3s;
  position: absolute;
  top: 20px;
  right: 20px;
}

.card__delete:hover {
  opacity: 0.5;
}
