.popup__sign-in-link {
  color: #ffffff;
  text-decoration: none;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  cursor: pointer;
  transition: linear 0.3s;
}

.popup__sign-in-link:hover {
  opacity: 0.6;
}
