.popup__form-button_disabled {
  background: #ffffff;
  color: #000000;
  border: 1px solid #000000;
  opacity: 0.2;
  cursor: default;
}

.popup__form-button_disabled:hover {
  background: #ffffff;
}
