.card__image {
  display: block;
  width: 282px;
  height: 282px;
  object-fit: cover;
  cursor: pointer;
}

@media screen and (max-width: 1024px) {
  .card__image {
    width: 362px;
    height: 362px;
  }
}

@media screen and (max-width: 800px) {
  .card__image {
    width: 282px;
    height: 282px;
  }
}

@media screen and (max-width: 680px) {
  .card__image {
    width: 362px;
    height: 362px;
  }
}

@media screen and (max-width: 480px) {
  .card__image {
    width: 282px;
    height: 282px;
  }
}
