.popup__close {
  width: 32px;
  height: 32px;
  background: transparent no-repeat url(../../../images/item-close.svg);
  border: none;
  cursor: pointer;
  padding: 0;
  position: absolute;
  top: -40px;
  right: -40px;
  transition: linear 0.3s;
}

.popup__close:hover {
  opacity: 0.6;
}

@media screen and (max-width: 768px) {
  .popup__close {
    width: 20px;
    height: 20px;
    background: transparent no-repeat url(../../../images/item-close-small.svg);
    top: -36px;
    right: 0;
  }
}
