.header__menu-icon {
  display: none;
  position: relative;
  width: 24px;
  height: 24px;
  transition: linear 0.3s;
  cursor: pointer;
}
.header__menu-icon:hover {
  opacity: 0.6;
}

.header__menu-icon span,
.header__menu-icon::before,
.header__menu-icon::after {
  position: absolute;
  left: 0;
  width: 100%;
  height: 10%;
  background-color: #fff;
  transition: linear 0.3s;
}

.header__menu-icon::before,
.header__menu-icon::after {
  content: "";
}

.header__menu-icon::before {
  top: 0;
}

.header__menu-icon::after {
  bottom: 0;
}

.header__menu-icon span {
  top: 50%;
  transform: scale(1) translate(0px, -50%);
}

@media screen and (max-width: 768px) {
  .header__menu-icon {
    display: block;
    margin: 32px 27px 0 0;
  }
}
