.card__like-icon {
  background: transparent url(../../../images/button-like.svg);
  width: 22px;
  height: 19px;
  border: none;
  padding: 0;
  cursor: pointer;
  transition: linear 0.3s;
  margin-bottom: 3px;
}

.card__like-icon:hover {
  opacity: 0.5;
}
