.profile__button-edit {
  border: 1px solid #ffffff;
  background: transparent no-repeat center url(../../../images/button-edit.svg);
  width: 24px;
  height: 24px;
  padding: 0;
  margin: 37px 0 0;
  cursor: pointer;
  transition: linear 0.3s;
}

.profile__button-edit:hover {
  opacity: 0.6;
}

@media screen and (max-width: 960px) {
  .profile__button-edit {
    width: 18px;
    height: 18px;
    margin: 0;
    background: transparent no-repeat center
      url(../../../images/button-edit-tiny.svg);
    position: absolute;
    left: 245px;
    bottom: 114px;
  }
}
